
* {
    padding: 0px;
    margin: 0px;
}

.main {
    display: flex;
    flex-direction: row;
    width: 100vh;
}

.left {
    background-color: rgba(241, 233, 233, 0.267);
    display: flex;
    justify-content: flex-start;
    height: 900px;
    width: 300px;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.section1 {
    background-color: rgb(238, 162, 162);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100px;
    width: 1000px;
}
.section2 {
    display: flex;
    flex-direction: row;
    width: 500px;
}

.box {
    border: 2px solid blue;
    border-radius: 2px;
    gap:10px;
}

.boxes {
    border: 2px solid green;
}

.square {
    border: 3px solid red;
}